
      #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        z-index: 9999;
      }
  
      #popup p {
        margin-bottom: 10px;
      }
  
      #popup button {
        padding: 8px 16px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
      }
      .canv
      {
        height: 500px;
        width: 500px;
      }